<ng-container *ngIf="forecast; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img class="svg" src="../../../assets/weather-icon/back.svg" alt="Back" title="Back" routerLink='/'>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="place-name">
                            <h1>{{place}}</h1><span>
                                <p class="text-center">{{(forecast.daily[0].dt | date:'fullDate')}}</p>
                            </span>
                        </div>  
                    </div>
                    <div class="col-md-8 text-center">
                        <h1 class="temp"> {{forecast.current.temp}} °C</h1>
                    </div> 
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <img src="../../../assets/weather-icon//icons/water.png">
                                <h4>{{forecast.current.humidity}} %</h4>
                            </li>
                            <li class="list-group-item"> <img src="../../../assets/weather-icon//icons/wind.png">
                                <h4>{{forecast.current.wind_speed}} m/s</h4>
                            </li>
                            <li class="list-group-item">
                                <img src="../../../assets/weather-icon//icons/pressure.png">
                                <h4>{{forecast.current.pressure}} hPa</h4> 
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-8 text-center">
                        <img [src]="'../../../assets/weather-icon/icons/' + forecast.current.weather[0].icon + '.png'"
                            alt="" height="400px">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg res" *ngFor="let weather of forecast.daily | slice:1">
                        <div class="card weather-card">
                            <p>{{(weather.dt | date:'fullDate').split(',').shift()}}</p>

                            <img class="card-img-top"
                                [src]="'../../../assets/weather-icon/icons/' + weather.weather[0].icon + '.png'"
                                alt="Card image cap">
                            <p style="float: left;">MAX: {{weather.temp.max-273.15| number:'1.0-0'}} °C</p>
                            <p style="float: left;">MIN: {{weather.temp.min-273.15| number:'1.0-0'}} °C</p>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-md-3"> 

            </div>
        </div> 
    </div>
</ng-template>
<ng-template #elseTemplate>
    <div class="loader">Loading...</div>
</ng-template>
<div class="container">
    <div *ngIf="chart">
        <canvas id="canvas"  height="100">{{chart}}</canvas>
    </div>
</div>