@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
      *width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
  
  /**
   *  The following is not really needed in this case
   *  Only to demonstrate the usage of @media for large screens
   */    
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
    }
  }
  .place-name {
      color: white;
      padding: 20px;
      display: inline-block;

  }
  .temp {
      color: white;
      padding: 20px; 
      font-size: 4rem;
  }
  .list-group {
      margin-top: 60px;
  }
  .list-group .list-group-item  {
      background: transparent;
      display: flex;
      > img {
        height:30px;

      }
      >h4 {
          color: white;
          margin-left: 20px; 
      }
  }
  .weather-card {
      background-color: rgb(125, 210, 226, 0.3);
      height: 100%;
      transition: all 1s;
      &:hover {
          transform: scale(1.1,1.1);
          -webkit-box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.3);
-moz-box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.3);
box-shadow: 10px 10px 5px 0px rgba(255,255,255,0.3);
      }
  }
  .res {
    margin-bottom: 0px;

  }
  @media screen and (min-width: 480px) {
   .res { 
    margin: 25px auto;
    width: 70%;

    }
  
  } 
.svg {
  filter: invert(27%) sepia(7%) saturate(2812%) hue-rotate(309deg) brightness(269%) contrast(32%);
  width: 7%; 

  &:hover,:focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    cursor: pointer;
    width: 8%;
  }
} 