<ng-container *ngIf="forecast; then thenTemplate; else elseTemplate"></ng-container>
<ng-template #thenTemplate>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img class="svg" src="assets/weather-icon/back.svg" alt="Back" title="Back" routerLink='/'>
            </div>
            <div class="col-md-6">
                <app-current-weather [forecast]='forecast' [place]='place'></app-current-weather>
                <app-daily-weather [forecasts]='forecast.daily'></app-daily-weather> 
                <app-daily-weather-chart [forecasts]='forecast.daily'></app-daily-weather-chart>
                <app-hourly-weather [forecasts]='forecast.hourly'></app-hourly-weather> 
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</ng-template>
<ng-template #elseTemplate>
    <div class="loader">Loading...</div>
</ng-template> 
