.place-name {
	color: white;
	padding: 20px;
	display: inline-block;
}

.temp {
	color: white;
	padding: 20px;
	font-size: 4rem;
}

.list-group {
	margin-top: 60px;
}

.list-group .list-group-item {
	background: transparent;
	display: flex;
	>img {
		height: 30px;
	}
	>h4 {
		color: white;
		margin-left: 20px;
	}
}
.main-container {
	background-color: rgb(125, 210, 226, 0.3);
	padding:10px; 
	border-radius: 10px;
} 